.is-disabled-group {
  opacity: 0.5;
  pointer-events: none;
}
.sub-item {
  margin-bottom: 8px;
  padding-left: 4px;
}
.standout-header {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 8px;
  color: var(--theme-text-color);
}
.mt-1 {
  margin-top: 4px;
}
.api-connections-drawer-input-group {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
