.example-vue-component .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0;
}

.example-vue-component .input-with-button {
  display: flex;
  gap: 5px;
}

.example-vue-component .input-with-button input {
  flex-grow: 1;
  margin: 0;
}

.example-vue-component .input-with-button button {
  flex-shrink: 0;
}
